.filter-panel {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 25%;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-sizing: border-box; }
  .filter-panel h2 {
    line-height: 24px;
    display: block;
    margin: 10px 0; }
  .filter-panel .filter-panel-header {
    height: 3em;
    text-align: center; }
    .filter-panel .filter-panel-header div {
      display: inline-block;
      font-weight: bold; }
  .filter-panel .filter-panel-body {
    height: calc(100% - 3em);
    overflow-y: auto; }

.filter {
  padding: 0.5em 0; }
  .filter--range-slider {
    width: auto; }
  .filter .chosen-container {
    width: 100% !important; }
  .filter .range-slider,
  .filter .multi-dropdown,
  .filter .dropdown,
  .filter .checkbox {
    margin-top: 0.5em; }

.range-slider {
  margin: auto;
  text-align: center;
  position: relative;
  height: 3.5em;
  box-sizing: border-box; }
  .range-slider input {
    box-shadow: 0;
    outline: 0; }
  .range-slider svg {
    display: none; }
  .range-slider svg,
  .range-slider input[type=range] {
    position: absolute;
    left: 0;
    top: 1em; }
  .range-slider input[type="text"][data-min] {
    left: 0;
    text-align: left; }
  .range-slider input[type="text"][data-max] {
    right: 0;
    text-align: right; }
  .range-slider input[type=text] {
    position: absolute;
    border: 0;
    bottom: 0;
    padding: 0; }
  .range-slider input[type=text]::-webkit-outer-spin-button,
  .range-slider input[type=text]::-webkit-inner-spin-button {
    -webkit-appearance: none; }
  .range-slider input[type=text]:invalid,
  .range-slider input[type=text]:out-of-range {
    border: 2px solid #ff6347; }
  .range-slider input[type=range] {
    -webkit-appearance: none;
    width: 100%; }
  .range-slider input[type=range]:focus {
    outline: none; }
  .range-slider input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3; }
  .range-slider input[type=range]:focus::-ms-fill-lower {
    background: #2497e3; }
  .range-slider input[type=range]:focus::-ms-fill-upper {
    background: #2497e3; }
  .range-slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0; }
  .range-slider input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px; }
  .range-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0; }
  .range-slider input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer; }
  .range-slider input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .range-slider input[type=range]::-ms-fill-lower,
  .range-slider input[type=range]::-ms-fill-upper {
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0; }
  .range-slider input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
