
// Filter Panel
// 
.filter-panel {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 25%;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em 0;
  background-color: #fff;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  box-sizing: border-box;

  h2 {
    line-height: 24px;
    display: block;
    margin: 10px 0;
  }

  .filter-panel-header {
    height: 3em;
    text-align: center;
    div {
      display: inline-block;
      font-weight: bold;
    }
  }

  .filter-panel-body {
    height: calc(100% - 3em);
    overflow-y: auto;
    padding: 0 1em 10em 1em;
    box-sizing: border-box;
  }

}

// Filter Controls Styles
// 
.filter {
  
  padding: 0.5em 0;

  // Range slider
  &--range-slider {
    width: auto;
  }

  // Chosen
  .chosen-container {
    width: 100% !important;
  }

  .range-slider,
  .multi-dropdown,
  .dropdown,
  .checkbox {
    margin-top: 0.5em;
  }

}

// Tabs
// 
.tabbox {

  &--horizontal {



  }

  &_tab {

    $btn-color: #aaa;
  
    outline: none;
    text-align: center;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #aaa;
    text-shadow: 0;
    font-size: 1.1em;
    cursor: pointer;
    padding: .5em;
    
    &:hover {
      color:white;
      background: $btn-color;
    }

    &--active {
      color:white;
      background: $btn-color;
    }

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }

  }

}



// Range Slider
// 

.range-slider {
  margin: auto;
  text-align: center;
  position: relative;
  height: 3.5em;
  //padding: 1em;
  box-sizing: border-box;

  input {
	  box-shadow: 0;
	  outline: 0;
	}

  // hide svg for now
  svg {
    display: none;
  }

  svg,
  input[type=range] {
    position: absolute;
    left: 0;
    top: 1em;
  }

  input[type="text"][data-min] {
    left: 0;
    text-align: left;
  }

  input[type="text"][data-max] {
    right: 0;
    text-align: right;
  }
  input[type=text] {
    position: absolute;
    border: 0;
    bottom: 0;
    padding: 0;

    //font-size: 1.6em;
    //-moz-appearance: textfield;
  }
  input[type=text]::-webkit-outer-spin-button,
  input[type=text]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type=text]:invalid,
  input[type=text]:out-of-range {
    border: 2px solid #ff6347;
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #2497e3;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #2497e3;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower,
  input[type=range]::-ms-fill-upper {
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
  }
}

// ./ Filter Styles