.filter-panel {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 25%;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em 0;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-sizing: border-box; }
  .filter-panel h2 {
    line-height: 24px;
    display: block;
    margin: 10px 0; }
  .filter-panel .filter-panel-header {
    height: 3em;
    text-align: center; }
    .filter-panel .filter-panel-header div {
      display: inline-block;
      font-weight: bold; }
  .filter-panel .filter-panel-body {
    height: calc(100% - 3em);
    overflow-y: auto;
    padding: 0 1em 10em 1em;
    box-sizing: border-box; }

.filter {
  padding: 0.5em 0; }
  .filter--range-slider {
    width: auto; }
  .filter .chosen-container {
    width: 100% !important; }
  .filter .range-slider,
  .filter .multi-dropdown,
  .filter .dropdown,
  .filter .checkbox {
    margin-top: 0.5em; }

.tabbox_tab {
  outline: none;
  text-align: center;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #aaa;
  text-shadow: 0;
  font-size: 1.1em;
  cursor: pointer;
  padding: .5em; }
  .tabbox_tab:hover {
    color: white;
    background: #aaa; }
  .tabbox_tab--active {
    color: white;
    background: #aaa; }
  .tabbox_tab:first-child {
    float: left; }
  .tabbox_tab:last-child {
    float: right; }

.range-slider {
  margin: auto;
  text-align: center;
  position: relative;
  height: 3.5em;
  box-sizing: border-box; }
  .range-slider input {
    box-shadow: 0;
    outline: 0; }
  .range-slider svg {
    display: none; }
  .range-slider svg,
  .range-slider input[type=range] {
    position: absolute;
    left: 0;
    top: 1em; }
  .range-slider input[type="text"][data-min] {
    left: 0;
    text-align: left; }
  .range-slider input[type="text"][data-max] {
    right: 0;
    text-align: right; }
  .range-slider input[type=text] {
    position: absolute;
    border: 0;
    bottom: 0;
    padding: 0; }
  .range-slider input[type=text]::-webkit-outer-spin-button,
  .range-slider input[type=text]::-webkit-inner-spin-button {
    -webkit-appearance: none; }
  .range-slider input[type=text]:invalid,
  .range-slider input[type=text]:out-of-range {
    border: 2px solid #ff6347; }
  .range-slider input[type=range] {
    -webkit-appearance: none;
    width: 100%; }
  .range-slider input[type=range]:focus {
    outline: none; }
  .range-slider input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3; }
  .range-slider input[type=range]:focus::-ms-fill-lower {
    background: #2497e3; }
  .range-slider input[type=range]:focus::-ms-fill-upper {
    background: #2497e3; }
  .range-slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0; }
  .range-slider input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px; }
  .range-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0; }
  .range-slider input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer; }
  .range-slider input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .range-slider input[type=range]::-ms-fill-lower,
  .range-slider input[type=range]::-ms-fill-upper {
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0; }
  .range-slider input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer; }

.popup--mini {
  background: #fff;
  max-height: 10.35em;
  max-width: 250px;
  overflow-y: auto; }
.popup__list {
  list-style: none;
  border: solid 1px #eee;
  padding: 0;
  margin: 0; }
  .popup__list li {
    padding: 5px;
    cursor: pointer; }
    .popup__list li:not(:last-child) {
      border-bottom: solid 1px #eee; }
    .popup__list li > * {
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      cursor: pointer; }
    .popup__list li .profile-icon {
      background: blueviolet;
      width: 2.5em;
      height: 2.5em;
      border-radius: 2.5em;
      margin-right: 5px;
      background-size: contain; }
    .popup__list li .miniscore {
      width: 60px; }
      .popup__list li .miniscore > * {
        cursor: pointer; }
      .popup__list li .miniscore__label {
        padding: 5px;
        color: #fff;
        border-radius: 4px; }
      .popup__list li .miniscore__value {
        color: #444;
        background: white;
        padding: 0 5px;
        border-radius: 3px; }

.miniscore--h .miniscore__label {
  background: #ff3c41; }
.miniscore--s .miniscore__label {
  background: #47cf73; }
.miniscore--t .miniscore__label {
  background: #0ebeff; }

.mapboxgl-popup-content {
  padding: 10px;
  border-radius: 4px 0 4px; }

.mapboxgl-popup-close-button {
  font-size: 1.5em;
  color: #aaa;
  font-weight: normal;
  width: 1.4em;
  right: -1.4em;
  top: 0;
  border: 0;
  border-radius: 0 4px 4px 0;
  background-color: #fff; }
  .mapboxgl-popup-close-button:hover {
    background-color: #eee; }

.profilepanel {
  width: 560px; }
  .profilepanel .transition, .profilepanel .aitem__body, .profilepanel ul.accordion li i:before, .profilepanel ul.accordion li i:after {
    transition: all 0s ease-in-out; }
  .profilepanel .flipIn, .profilepanel h1 {
    animation: flipdown 0s ease both; }
  .profilepanel .no-select, .profilepanel h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .profilepanel h1,
  .profilepanel h2 {
    color: #444; }
  .profilepanel h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100; }
  .profilepanel h2 {
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    padding-left: 1.25em;
    cursor: pointer; }
  .profilepanel .aitem__body {
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    z-index: 2; }
  .profilepanel ul.accordion {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0; }
    .profilepanel ul.accordion li {
      position: relative;
      border: 1px solid #dce7eb;
      /*
    @extend .flipIn;

    &:nth-of-type(1) {
      animation-delay: 0.5s;
    }

    &:nth-of-type(2) {
      animation-delay: 0.75s;
    }

    &:nth-of-type(3) {
      animation-delay: 1s;
    }
    
    */ }
      .profilepanel ul.accordion li i {
        position: absolute;
        margin-top: 1.25em;
        left: 1em; }
        .profilepanel ul.accordion li i:before, .profilepanel ul.accordion li i:after {
          content: "";
          position: absolute;
          background-color: #444;
          width: 3px;
          height: 9px; }
        .profilepanel ul.accordion li i:before {
          transform: translate(-2px, 0) rotate(45deg); }
        .profilepanel ul.accordion li i:after {
          transform: translate(2px, 0) rotate(-45deg); }
      .profilepanel ul.accordion li input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0; }
        .profilepanel ul.accordion li input[type=checkbox]:checked ~ .aitem__body {
          margin-top: 0;
          max-height: 0;
          opacity: 0;
          transform: translate(0, 50%); }
          .profilepanel ul.accordion li input[type=checkbox]:checked ~ .aitem__body > * {
            display: none; }
        .profilepanel ul.accordion li input[type=checkbox]:checked ~ i:before, .profilepanel ul.accordion li input[type=checkbox]:checked ~ .aitem__head i:before {
          transform: translate(2px, 0) rotate(45deg); }
        .profilepanel ul.accordion li input[type=checkbox]:checked ~ i:after, .profilepanel ul.accordion li input[type=checkbox]:checked ~ .aitem__head i:after {
          transform: translate(-2px, 0) rotate(-45deg); }
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }
  .profilepanel__toolbar {
    background: #444; }
  .profilepanel__head {
    border: 1px solid #dce7eb;
    padding: 1em;
    height: 6em;
    margin: 1em; }
  .profilepanel__body {
    margin: 1em; }
  .profilepanel .pbar {
    display: flex;
    align-items: center;
    background: #546b81;
    color: #fefffa;
    padding: 0.5em;
    margin: 0 0 20px 0;
    box-sizing: border-box; }
    .profilepanel .pbar > * {
      margin: 0 10px; }
    .profilepanel .pbar__center {
      flex: 1;
      text-align: center; }
  .profilepanel .ahbar {
    display: flex;
    align-items: center;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #e1f0f8; }
    .profilepanel .ahbar__right {
      flex: 1;
      text-align: right; }
  .profilepanel .phead {
    display: flex;
    align-items: center; }
    .profilepanel .phead > * {
      display: inline-block; }
    .profilepanel .phead__img {
      height: 6em;
      width: 10em;
      background: rgba(48, 69, 92, 0.8); }
    .profilepanel .phead__attributes ul {
      margin: 0;
      position: relative;
      display: inline-block; }
      .profilepanel .phead__attributes ul li {
        width: 49%;
        display: inline-block;
        height: 2em;
        line-height: 2em; }
  .profilepanel .accordion__item {
    margin: 1em 0; }
  .profilepanel .list {
    margin: 0;
    padding: 0.5em;
    list-style-type: none; }
    .profilepanel .list li {
      border: 0 !important;
      line-height: 2; }
    .profilepanel .list--inline li {
      border: none;
      display: inline-block;
      width: 31%; }
  .profilepanel .colflex {
    display: flex;
    align-items: stretch; }
    .profilepanel .colflex h4 {
      margin: 0.5em 0.5em 0; }
    .profilepanel .colflex > * {
      flex: 1; }

/*# sourceMappingURL=style.css.map */
