output,
#ptooltip {
	display: none;
}

#ptooltip {
	left: 25px;
}

.brushing {
	path.hex {
		pointer-events: none;
	}
}

#qualtext {
	iframe {
		border-width: 0;

		div#d3-div-1-corpus-stats {
			display: none;
		}
	}
}